@font-face {
    font-family: "Atkinson Hyperlegible Regular";
    src: url("fonts/Atkinson-Hyperlegible-Regular-102a.woff2") format("woff2");
}
    
body {
    font-family: "Atkinson Hyperlegible Regular" !important;
    font-size: 110% !important;
}

#mw-indicator-mw-helplink,
#ca-talk, 
#ca-history,
#p-tb { 
    display: none !important; 
}

.mw-ui-button{
    border: 1px solid #a2a9b1 !important;
    margin: 1rem !important;
    padding: 0.3rem !important;
}
.mw-logo{
    min-width: 1rem !important;
}
.mw-header{
    flex-wrap: wrap !important;
}
.mw-logo-icon{
    display: block !important;
}
.vector-user-links{
    display: none;
}
.mw-ui-icon-wikimedia-search::before{
    background-image: none !important;
}
.mw-ui-icon-wikimedia-search *{
    color: black !important;
    width: auto !important;
    height: auto !important;
}

#mw-sidebar-button::before{
    background-image: none !important;
}
#mw-sidebar-button{
    color: inherit !important;
}