@font-face{
    font-family: "OpenDyslexic";
    src: url("OpenDyslexic-Regular.woff2");
}

.accessibility-font-dyslexic{
    font-family: "OpenDyslexic" !important;
}

.accessibility-font-size-large *:not(h1, h2, h3, h4, h5, h6){
    font-size: 102% !important;
}
.accessibility-font-size-xlarge *:not(h1, h2, h3, h4, h5, h6){
    font-size: 105% !important;
}
.accessibility-font-size-xxlarge *:not(h1, h2, h3, h4, h5, h6){
    font-size: 108% !important;
}

#accessibility-container input{
    margin-right: 1rem;
}